/* color palette from <https://github.com/vuejs/theme> */
:root {
  --coolors-bone: #d4d0c4;
  --coolors-sage: #a3b18a;
  --coolors-fern: #588157;
  --coolors-hunter: #3a5a40;
  --coolors-brunswick: #344e41;
  --coolors-eerie-black: #1a231f;

  --vt-c-text-light-1: var(--vt-c-) indigo;
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--coolors-bone);
  --color-background-hover: var(--coolors-sage);

  --text-primary: var(--coolors-eerie-black);
  --text-secondary: var(--coolors-eerie-black);
  --text-selected: var(--coolors-hunter);

  --filter-brunswick: invert(24%) sepia(13%) saturate(1116%) hue-rotate(97deg) brightness(91%)
    contrast(81%);

  --filter-bone: invert(94%) sepia(16%) saturate(136%) hue-rotate(3deg) brightness(86%)
    contrast(93%);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);

  --border-radius-soft: 0.2em;
  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Helvetica Neue',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
